* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  background-color: #efefef;
  /* background-color: #d07f7f; */
  padding: 2rem 4rem;
  border-bottom: 2px solid #29213f;
}

body ul {
    list-style: circle;
}

header {
    padding: 2rem 4rem;
    border-bottom: 2px solid #29213f;
}

header a {
    color: inherit;
    text-decoration: none;
    font-style: normal;
}

header a:hover {
    color: hotpink;
}

header img {
    display: block;
    aspect-ratio: 1;
    border-radius: 50%;
    filter: sepia(1) contrast(110%);
    margin: 1rem auto;
}

header h1 {
    text-align: center;
    color: tomato;
    text-decoration: underline;
}

main {
    margin: 2rem 4rem;
}

section {
    margin-bottom: 3rem;
}

p {
    max-width: 80ch;
}

section li h3, section li p {
font-size: 0.8rem;
letter-spacing: 0.5px;
}

section li {
    margin: .5rem;
}