* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  background-color: #efefef;
  line-height: 1.5;
  padding: 3rem 2rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #29213f;
  color: white;
}

footer a {
    color: white;
}