* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
    text-align: center;
    margin: 3rem 2rem;
    background: white;
    border-bottom: 2px solid #29213f;
}

body {
  font-family: system-ui;
  background-color: #efefef;
  line-height: 1.5;
  padding: 3rem 2rem;
}

main {

    margin: 3rem auto;
}


footer {
  text-align: center;
  padding: 1rem;
  background: #29213f;
  color: white;
}

#doglist .dog-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 0px;
    padding-top: 1rem;
    margin: 0 auto;
}

#doglist .dog-grid.dead{
    display: grid;
                            /* Aktiviert Grid-Layout */
    grid-template-columns: 1fr 1fr;         /* 2 gleich breite Spalten */
    grid-template-rows: auto auto;          /* 2 Zeilen, Höhe automatisch */
    gap: 20px;                              /* Abstand zwischen den Grid-Elementen (kannst du anpassen) */
    padding: 20px;                          /* Optional: Abstand außen */
    max-width: 900px;                       /* Optional: maximale Breite des Grids */
    margin: 0 auto;                         /* Zentriert das Grid auf der Seite */

}

#doglist figure.kk {
    margin: 0;                              /* Entfernt default-Margin der figure */
    text-align: center;                     /* Zentriert die Bildunterschrift */
}

#doglist img.gh {
    width: 100%;                            /* Bild füllt die Grid-Zelle aus */
    height: auto;                           /* Behält das Seitenverhältnis bei */
    border-radius: 10px;                    /* Optional: abgerundete Ecken */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);  /* Optional: leichter Schatten für mehr Tiefe */
}

#doglist img {
    width: 100%;                            /* Bild füllt die Grid-Zelle aus */
    height: auto;                           /* Behält das Seitenverhältnis bei */
    border-radius: 8px;                    /* Optional: abgerundete Ecken */
   box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}